body {
  overflow-wrap: overflow-wrap;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #696969;
  background-image: url("../../Assets/bright-squares.png");
}

/* //////////////////////////////    NAVBAR    \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

#navbar-container {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  position: fixed;
  overflow: hidden;
  width: 100vw;
  top: 0px;
  z-index: 2;
  margin: 0;
  font-family: "Nunito", sans-serif;
  background-color: hsla(0, 0%, 55%, 0.925);
  background-image: url("../../Assets/bright-squares.png");
}

#navbar-text {
  font-size: 70px;
  font-weight: 700;
  letter-spacing: 4px;
  margin: 0px 0px 0px 30px;
  text-align: center;
  font-family: "Permanent Marker", cursive;
  text-shadow: 1px 1px 1px #3c3c3c;
  color: rgb(227, 227, 227);
}

.globe {
  height: 80px;
  opacity: 0.4;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%) contrast(150%) brightness(90%);
}

/* //////////////////////////////    FILTERS   \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.filters-container {
  position: fixed;
  top: 120px;
  width: 100vw;
  min-height: 10vh;
  max-height: 20vh;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  justify-self: center;
  flex-wrap: wrap;
  margin: 0px 0px 90px 0px;
  background-color: hsla(0, 0%, 55%, 0.925);
  background-image: url("../../Assets/bright-squares.png");
}

.flex-container {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-self: center;
}

#button-reset,
#button-big-population,
#button-small-population,
#button-big-area,
#button-small-area {
  border: none;
  box-shadow: none;
  padding: none;
  min-width: 10vw;
  min-height: 3vh;
  max-width: 32vw;
  max-height: 12vh;
  padding:4px;
  margin: 10px 20px;
  border-radius: 5px;
  font-weight: 800px;
  font-family: "Nunito", sans-serif;
}

#button-reset {
  max-height: 5vh;
  min-height: 3.5vh;
  font-size: 16px;
  letter-spacing: 1.5px;
  font-weight: 800;
  color: #fff;
  background-color: #4a6d4a;
}

#button-reset:hover {
  cursor: grabbing;
}

.search-country {
  min-width: 20vw;
  max-width: 40vw;
  height: fit-content;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  color: #090a17;
  margin: 10px 20px;
}

.search-country:hover {
  cursor: progress;
}

.filter-by-region-select,
.choose-country-select {
  border: none;
  min-width: 12vw;
  max-width: 80vw;
  height: fit-content;
  padding: 10px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 5px;
  margin: 10px 20px;
}

.filter-by-region-select:hover {
  cursor: s-resize;
}

.choose-country-select:hover {
  cursor: s-resize;
}

/* //////////////////////////////    FAVORITES    \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.favorite-cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  justify-items: center;
  grid-gap: 70px 30px;
  padding: 40px 50px;
  border-radius: 1rem;
  margin: 10px 50px 20px 50px;
  box-shadow: 2px 2px 2px #333;
  background-color: rgba(255, 255, 255, 0.1);
}

.favorite-list-text {
  z-index: 2;
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: 500;
  color: #eee;
  margin: 300px 0px 20px 0px;
  font-family: "Permanent Marker", cursive;
}


/* //////////////////////////////    COUNTRY LIST    \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.grand-container {
  margin-top: 0px;
  width: 100vw;
  font-family: "Nunito", sans-serif;
}

.grand-container button:hover {
  cursor: pointer;
}

.grand-container button:active {
  transform: translateY(2px) translateX(1px);
}

/* //////////////////////////////    CARDS GRID    \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.cards-container {
  margin: 3vh 2vw 3vh 2vw;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-items: center;
  grid-gap: 7vh 7vw;
}
#cards-grid-with-favorite {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-items: center;
  grid-gap: 50px 30px;
  margin: 50px 80px 50px 80px;
}

#cards-grid-without-favorite {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-items: center;
  grid-gap: 50px 30px;
  margin: 310px 50px 50px 50px;
}

/* //////////////////////////////    CARD    \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.card-container {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  min-width: 12vw;
  max-width: 25vw;
  padding: 0 0 65px 0;
  border-radius: 5px 5px 20px 20px;
  font-family: "Nunito", sans-serif;
  box-shadow: 3px 3px 3px #222;
  background-color: #ffffff;
  background-image: url("../../Assets/brushed-alum.png");
  /* height: fit-content; */
}

.card-container > h2 {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0px 6px 20px;
}

.card-container > h5 {
  font-size: 15px;
  font-weight: 500;
  margin: 4px 0px 6px 20px;
}

.flag-container > img {
  object-fit: cover;
  vertical-align: top;
  width: 100%;
  margin: 0px 0px 15px 0px;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 2px 2px 5px 1px #66666670;
}

.buttons-container {
  position: absolute;
  align-self: center;
  bottom: 0px;
  margin: 15px;
}

#button-card {
  padding: 7px 20px;
  margin: 0 15px;
  border-radius: 7px;
  box-shadow: 1px 1px 1px 1px #66666670;
}

#filter-buttons-container {
  margin-bottom: 0;
}

/* //////////////////////////////////////////   CARD DETAILS   \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
#grand-container{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  justify-self: center;
  border: solid 10px rgb(0, 81, 255);
}


.grand-card-details-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 120px;
    width: 70vw;
    box-sizing: border-box;
    margin: 200px 0px 0px 0px;
    align-self: center;
    justify-items: center;
    border: solid 4px rgb(236, 13, 13);
}

#flag-details-container {
  border: solid 3px rgb(183, 0, 255);
}

.card-details-container {
  box-sizing: border-box;
  display: grid;
  /* justify-content: flex-start; */
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  /* position: relative; */
  /* width: 1000px; */
  /* min-height: 600px; */
  /* height: fit-content; */
  padding: 0 0 65px 0;
  border-radius: 20px;
  font-family: "Nunito", sans-serif;
  box-shadow: 3px 3px 33px 13px rgba(34, 34, 34, 0.404);
  background-color: #72727252;
  background-image: url("../../Assets/brushed-alum.png");
  border: solid 4px rgb(255, 153, 0);
}

#flag-details-container > img {
  object-fit: cover;
  vertical-align: top;
  width: 100%;
  margin: 0px 0px 15px 0px;
  box-shadow: 2px 2px 5px 1px #66666670;
  /* border-radius: 5px 5px 0px 0px; */
  border: solid 4px rgb(251, 255, 0);

}
#buttons-details-container {
  border: solid 4px rgb(21, 255, 0);

}
#card-container > h2 {
  font-size: 36px;
  font-weight: 600;
  margin: 10px 0px 6px 20px;
  border: solid 4px rgb(0, 238, 255);

}

#card-container > h5 {
  font-size: 20px;
  font-weight: 500;
  margin: 4px 0px 6px 20px;
  border: solid 4px rgb(0, 68, 255);
  
}

/* //////////////////////////////////////////   MEDIA QUERIES   \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* //////////////////////////////////////////   MEDIA QUERIES   \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* //////////////////////////////////////////   MEDIA QUERIES   \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* //////////////////////////////////////////   MEDIA QUERIES   \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* //////////////////////////////////////////   MEDIA QUERIES   \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* //////////////////////////////////////////   MEDIA QUERIES   \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* //////////////////////////////////////////   MEDIA QUERIES   \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* //////////////////////////////////////////   MEDIA QUERIES   \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */


@media only screen and (min-width: 1700px) {

  .filters-container {
    min-height: 7vh;
    max-height: 8vh;
  }

  #button-big-population,
  #button-small-population,
  #button-big-area,
  #button-small-area {
    min-height: 2.2vh;
    max-height: 12vh;
  }

  #button-reset{
  min-height: 2.3vh;
  }

  .cards-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  #cards-grid-with-favorite {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  #cards-grid-without-favorite {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  #cards-grid-without-favorite {
    margin: 340px 50px 50px 50px;
  }
  .favorite-list-text {
    margin:330px 0px 20px 0px;
  }

}
/* //////////////////////////////////////////   MEDIA QUERIES   \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

@media only screen and (max-width: 1220px) {

.favorite-list-text {
  margin: 280px 0px 20px 0px;
}
.favorite-cards-grid {
  padding: 40px 38px;
  margin: 40px 20px 40px 20px;
}


}
/* //////////////////////////////////////////   MEDIA QUERIES   \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

@media only screen and (max-width: 1170px) {

#navbar-container {
  height: 80px;
}

.filters-container {
  top: 80px;
}
#navbar-text {
  font-size: 50px;
}
.globe {
  height: 60px;
}

.filter-by-region-select,
.choose-country-select {
  padding: 8px 11px;
  font-size: 14px;
  margin: 5px 8px;
}

  #button-reset,
  #button-big-population,
  #button-small-population,
  #button-big-area,
  #button-small-area {
    font-size: 12px;
    margin: 5px 8px;
    padding: 8px 11px;
  }


  .favorite-list-text {
    margin: 240px 0px 20px 0px;
  }
  #cards-grid-without-favorite {
    margin: 240px 20px 20px 20px;
  }

  .card-container {
    min-width: 12vw;
    max-width: 35vw;
  }

}
/* ////////////////////////////////////////////////////////////////////////////////////////// */

@media only screen and (max-width: 940px) {
  #navbar-text {
    font-size: 42px;
  }
  #cards-grid-without-favorite {
    margin: 220px 10px 10px 10px;
  }
}
/* ////////////////////////////////////////////////////////////////////////////////////////// */

  @media only screen and (max-width: 830px) {
    #navbar-text {
      letter-spacing: 0px;
    }
    #cards-grid-without-favorite {
      margin: 220px 10px 10px 10px;
    }
  }
/* ////////////////////////////////////////////////////////////////////////////////////////// */

  @media only screen and (max-width: 773px) {

    #navbar-container {
      height: 70px;
    }

    .filters-container {
      top: 70px;
    }

    #navbar-text {
      font-size: 35px;
      margin: 0px 0px 0px 20px;
    }
    .globe {
      height: 48px;
      margin: 0px 0px 0px 20px;
    }
    .favorite-list-text {
      margin: 260px 0px 20px 0px;
    }

    .favorite-cards-grid {
      padding: 20px 30px;
      margin: 20px 10px 20px 10px;
    }
    #cards-grid-without-favorite {
      margin: 280px 10px 10px 10px;
    }
      #cards-grid-with-favorite {
      margin: 240px 10px 10px 10px;
    }

    .card-container {
      min-width: 12vw;
      max-width: 60vw;
    }
}
/* ////////////////////////////////////////////////////////////////////////////////////////// */

  @media only screen and (max-width: 530px) {
    #cards-grid-without-favorite {
      margin: 280px 10px 10px 10px;
    }

    .favorite-list-text {
      margin: 260px 0px 20px 0px;
    }
    .favorite-cards-grid {
      margin: 40px 10px 10px 10px;
    }
}

/* ////////////////////////////////////////////////////////////////////////////////////////// */

  @media only screen and (max-width: 505px) {

  #navbar-text {
    font-size: 25px;
    margin: 0px 0px 0px 10px;
  }

  .globe {
    height: 35px;
    margin: 0px 0px 0px 10px;
  }

  #navbar-container {
    height: 60px;
  }

  .filters-container {
    top: 60px;
  }

  .filter-by-region-select,
  .choose-country-select {
    height: 30px;
    padding: 4px 6px;
    font-size: 14px;
    margin: 3px 10px;
  }

  .search-country {
    min-width: 40vw;
    height: 20px;
    padding: 5px 10px;
    font-size: 14px;
    margin: 3px 10px;
  }

  #button-reset,
  #button-big-population,
  #button-small-population,
  #button-big-area,
  #button-small-area {
    font-size: 10px;
    margin: 3px 10px;
    padding: 5px 7px;
  }

   .favorite-list-text {
     margin: 210px 0px 20px 0px;
   }

  #cards-grid-with-favorite {
    margin: 210px 10px 10px 10px;
  }

  #cards-grid-without-favorite {
    margin: 220px 10px 10px 10px;
  }


/* ////////////////////////////////////////////////////////////////////////////////////////// */
@media only screen and (max-width: 445px) {

  .filter-by-region-select,
  .choose-country-select {
    height: 30px;
    padding: 4px 6px;
    font-size: 12px;
    margin: 3px 5px;
  }

  .search-country {
    min-width: 40vw;
    height: 20px;
    padding: 5px 10px;
    font-size: 12px;
    margin: 3px 5px;
  }

  #button-reset,
  #button-big-population,
  #button-small-population,
  #button-big-area,
  #button-small-area {
    font-size: 10px;
    margin: 3px 5px;
    padding: 5px 7px;
  }

   .favorite-cards-grid {
     margin: 40px 5px 5px 5px;
     padding: 20px;
   }

  #cards-grid-with-favorite {
    margin: 220px 0px 0px 0px;
  }
  #cards-grid-without-favorite {
    margin: 210px 0px 10px 00px;
  }
  .card-container {
    min-width: 12vw;
    max-width: 75vw;
  }

}


/* ////////////////////////////////////////////////////////////////////////////////////////// */
@media only screen and (max-width: 380px) {

  #navbar-text {
    font-size: 22px;
  }

  .filter-by-region-select,
  .choose-country-select {
    padding: 4px 6px;
    margin: 2px 4px;
  }

  .search-country {
    padding: 5px 10px;
    margin: 2px 4px;
  }

  #button-reset,
  #button-big-population,
  #button-small-population,
  #button-big-area,
  #button-small-area {
    padding: 5px 4px;
    margin: 2px 2px;
  }

  .favorite-list-text {
    margin: 200px 0px 20px 0px;
  }

  #cards-grid-with-favorite {
    margin: 220px 0px 0px 0px;
  }

  #cards-grid-without-favorite {
    margin: 210px 0px 10px 00px;
  }

  .favorite-cards-grid {
    margin: 40px 5px 5px 5px;
    padding: 10px;
  }

  .buttons-container {
    margin: 10px;
  }

  #button-card {
    margin: 0 10px;
  }
}

/* ////////////////////////////////////////////////////////////////////////////////////////// */

@media only screen and (max-width: 320px) {
  .favorite-list-text {
    margin: 200px 0px 20px 0px;
  }

.favorite-cards-grid{
  margin: 2px;
  padding: 12px 3px;
}

  #cards-grid-with-favorite {
    margin: 220px 0px 0px 0px;
  }

  #cards-grid-without-favorite {
    margin: 250px 0px 10px 0px;
  }
}
  #button-card {
    margin: 0 5px;
  }

}

