body {
  /* background-color: #ffffff; */
  /* background-image: url("../Assets/binding-light-1920x1080.png"); */
  background-color: #696969;
  background-image: url("../Assets/3px-tile.png");
}

.grand-container {
  width: 100vw;
}

.grand-container button {
  margin: 0 1rem 0 1rem;
  border-radius: 1rem;
  padding: 7px 20px;
  box-shadow: 2px 2px 5px 1px #66666670;
}

.grand-container button:hover {
  cursor: grab;
  /* transition: 0.01s; */
}

.grand-container button:active {
  transform: translateY(2px) translateX(1px);
}

.filters-container {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100vw;
  height: 50px;
  margin: 0px 0px 70px 0px;
  padding: 20px;
  background-color: #ffffff;
  background-image: url("../Assets/binding-light-1920x1080.png");
}

.searchCountry {
  display: block;
  float: left;
  height: 1.4rem;
  width: 12rem;
  padding: 10px;
  border-radius: 0.3rem;
  font-weight: bold;
  font-size: 16px;
  color: #090a17;
}

.filterByRegion {
  min-width: 240px;
}

.chooseCountry {
  min-width: 510px;
}

label,
select {
  display: block;
  float: left;
  height: 2rem;
  width: auto;
  font-weight: bold;
}

.chooseCountry {
  display: block;
  float: left;
  margin: 0 1rem;
}

.filterByRegion {
  display: block;
  float: left;
  margin: 0 1rem;
}

/* .countries-displayed {
  font-weight: bold;
  margin: 1rem;
} */

.cards-container {
  margin: 3rem;
}

#cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 50px;
  justify-content: center;
  margin: 120px 0px 50px 0px;
}
