body {
  background-color: #ffffff;
  background-image: url("../Assets/cream-paper-1920x1080.png");
}

.cardsGridContainer {
  margin: 3rem;
}

#cardsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 50px;
  justify-content: center;
}

.select {
  margin: 1rem 1rem 2rem 1rem;
}

.cardsGridContainer button {
  margin: 0 1rem 0 0;
  border-radius: 1rem;
  padding: 7px 20px;
  box-shadow: 2px 2px 5px 1px #66666670;
}

.cardsGridContainer button:hover {
  cursor: grab;
  /* transition: 0.01s; */
}

.cardsGridContainer button:active {
  transform: translateY(2px) translateX(1px);
}

.searchCountry {
  margin: 1rem 0;
}
