body {
  /* background-color: #ffffff; */
  /* background-image: url("../Assets/binding-light-1920x1080.png"); */
  background-color: #696969;
  background-image: url("../Assets/3px-tile.png");
}

.selectorsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px 20px;
  margin: 0 0 20px 0;
  background-color: #ffffff;
  background-image: url("../Assets/binding-light-1920x1080.png");
  border-radius: 22px;
}

.searchCountry {
  height: 1.4rem;
  width: 12rem;
  margin: 1rem 1rem;
  padding: 10px;
  border-radius: 0.3rem;
  font-weight: bold;
  font-size: 16px;
  color: #090a17;
}

.filterByRegion {
  min-width: 240px;
}

.chooseCountry {
  min-width: 510px;
}

label,
select {
  height: 2rem;
  width: auto;
  /* margin: 1rem; */
  font-weight: bold;
}

.chooseCountry {
  margin: 0 1rem;
}

.filterByRegion {
  margin: 0 1rem;
}

.countries-displayed {
  font-weight: bold;
  margin: 1rem;
}

.cardsGridContainer {
  margin: 3rem;
}

#cardsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 50px;
  justify-content: center;
}

.cardsGridContainer button {
  margin: 0 1rem 0 1rem;
  border-radius: 1rem;
  padding: 7px 20px;
  box-shadow: 2px 2px 5px 1px #66666670;
}

.cardsGridContainer button:hover {
  cursor: grab;
  /* transition: 0.01s; */
}

.cardsGridContainer button:active {
  transform: translateY(2px) translateX(1px);
}
