body {
  background-color: #696969;
  background-image: url("../Assets/bright-squares.png");
}

.grand-container {
  width: 100vw;
}

.grand-container button {
  margin: 0 1rem 0 1rem;
  border-radius: 1rem;
  padding: 7px 20px;
  box-shadow: 2px 2px 5px 1px #66666670;
}

.grand-container button:hover {
  cursor: grab;
  /* transition: 0.01s; */
}

.grand-container button:active {
  transform: translateY(2px) translateX(1px);
}

.filters-container {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100vw;
  height: 50px;
  margin: 0px 0px 90px 0px;
  padding: 20px;
  box-shadow: 3px 3px 3px #22222280;
  background-color: #8c8c8c;
  background-image: url("../Assets/bright-squares.png");
}

.searchCountry {
  display: block;
  float: left;
  width: 13rem;
  padding: 10px;
  margin: 7px 20px 0px 20px;
  border-radius: 0.3rem;
  color: #090a17;
  font-size: 14px;
  font-weight: bold;
}

.filterByRegion {
  display: block;
  float: left;
  min-width: 240px;
  padding: 10px;
  margin: 0px 20px 0px 20px;
}

.chooseCountry {
  display: block;
  float: left;
  min-width: 510px;
  padding: 10px;
  margin: 0px 20px 0px 20px;
}

#reset-button {
  display: block;
  float: left;
  border-radius: 5px;

  margin: 10px 20px 0px 20px;
}

label,
select {
  font-weight: bold;
  height: 2rem;
  width: auto;
  padding: 0 10px;
  border-radius: 5px;
  /* background-color: #737373; */
}

.cards-container {
  margin: 3rem;
}

#cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 50px;
  justify-content: center;
  margin: 160px 0px 50px 0px;
}

/* ///////// CARD \\\\\\\\\ */

.card-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 340px;
  height: auto;
  flex-wrap: wrap;
  border-radius: 5px 5px 20px 20px;
  background-color: #ffffff;
  background-image: url("../Assets/brushed-alum.png");
  box-shadow: 3px 3px 3px #222;
}

.card-container > h2,
h5 {
  font-weight: 500;
  margin: 4px 0px 6px 20px;
}

.flag-container > img {
  width: 100%;
  object-fit: cover;
  vertical-align: top;
  margin: 0px 0px 8px 0px;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 2px 2px 5px 1px #66666670;
}

.buttons-container {
  margin: 10px;
  align-self: center;
}

.button {
  padding: 7px 20px;
  margin: 0 3px;
  border-radius: 14px;
  box-shadow: 2px 2px 5px 1px #66666670;
}
