body {
  background-color: #696969;
  background-image: url("../Assets/bright-squares.png");
}

/* //////////    NAVBAR    \\\\\\\\\\\\ */

#navbar-container {
  display: inline;
  overflow: hidden;
  position: fixed;
  width: 100vw;
  top: 0px;
  z-index: 2;
  height: 120px;
  margin: 0;
  font-family: "Nunito", sans-serif;
  background-color: hsla(0, 0%, 55%, 0.925);
  background-image: url("../Assets/bright-squares.png");
  box-shadow: 3px 3px 3px hsla(0, 0%, 13%, 0.5);
}

#navbar-text {
  float: left;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 4px;
  margin: 35px 0px 0px 30px;
  color: rgb(227, 227, 227);
  text-shadow: 1px 1px 1px #3c3c3c;
  font-family: "Permanent Marker", cursive;
  /* text-transform: uppercase; */
}

.globe {
  float: left;
  height: 80px;
  margin: 20px 5px 5px 50px;
  opacity: 0.4;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) contrast(150%) brightness(90%);
}

/* //////////    COUNTRY LIST    \\\\\\\\\\\\ */

.grand-container {
  width: 100vw;
  font-family: "Nunito", sans-serif;
}

.grand-container button {
  margin: 0 1rem 0 1rem;
  border-radius: 1rem;
  padding: 7px 20px;
  box-shadow: 2px 2px 5px 1px #66666670;
}

.grand-container button:hover {
  cursor: grab;
}

.grand-container button:active {
  transform: translateY(2px) translateX(1px);
}

/* //////////    FILTERS   \\\\\\\\\\\\ */

.filters-container {
  overflow: hidden;
  position: fixed;
  top: 120px;
  width: 100vw;
  height: 50px;
  margin: 0px 0px 90px 0px;
  padding: 20px 3rem;
  background-color: hsla(0, 0%, 55%, 0.925);
  background-image: url("../Assets/bright-squares.png");
  box-shadow: 3px 3px 3px hsla(0, 0%, 13%, 0.5);
}

.searchCountry {
  display: block;
  float: left;
  width: 13rem;
  padding: 10px;
  margin: 7px 20px 0px 20px;
  border-radius: 0.3rem;
  color: #090a17;
  font-size: 14px;
  font-weight: bold;
  border: none;
}

.filterByRegion {
  display: block;
  float: left;
  min-width: 240px;
  padding: 10px;
  margin: 0px 20px 0px 20px;
  border: none;
}

.chooseCountry {
  display: block;
  float: left;
  min-width: 510px;
  padding: 10px;
  margin: 0px 20px 0px 20px;
  border: none;
}

#reset-button {
  display: block;
  float: left;
  border-radius: 5px;
  margin: 10px 20px 0px 20px;
}

label,
select {
  font-size: 15px;
  font-weight: bold;
  height: 2rem;
  width: auto;
  padding: 0 10px;
  border-radius: 5px;
  border: none;
  /* background-color: #737373; */
}

.cards-container {
  margin: 3rem;
}

/* //////////    FAVORITES    \\\\\\\\\\\\ */

.favorite-cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 50px;
  /* justify-content: center; */
  margin: 250px 0px 20px 0px;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 2px #333;
  background-color: rgba(255, 255, 255, 0.1);
}

.favorite-cards-grid h3 {
  display: flex;
  justify-content: center;
  margin: 20px 0px 20px 0px;
  font-size: 22px;
  font-weight: 800;
  color: #eee;
}

/* //////////    CARDS GRID    \\\\\\\\\\\\ */

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 70px 30px;
  justify-content: center;
  margin: 250px 0px 50px 0px;
}

/* //////////    CARD    \\\\\\\\\\\\ */

.card-container {
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 300px;
  height: auto;
  flex-wrap: wrap;
  border-radius: 5px 5px 20px 20px;
  background-color: #ffffff;
  background-image: url("../Assets/brushed-alum.png");
  box-shadow: 3px 3px 3px #222;
}

.card-container > h2 {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0px 6px 20px;
}

.card-container > h5 {
  font-size: 15px;
  font-weight: 500;
  margin: 4px 0px 6px 20px;
}

.flag-container > img {
  width: 100%;
  object-fit: cover;
  vertical-align: top;
  margin: 0px 0px 8px 0px;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 2px 2px 5px 1px #66666670;
}

.buttons-container {
  margin: 10px;
  align-self: center;
}

.button {
  padding: 7px 20px;
  margin: 0 3px;
  border-radius: 14px;
  box-shadow: 2px 2px 5px 1px #66666670;
}
